In [6]:
# 처음 csv file
path = '/Users/kimdohyun/Downloads/TalkFile_part_ko 2.csv.csv'

In [2]:
import pandas as pd
import os

In [8]:
car_part = pd.read_csv(path) #, encoding='utf-8'

In [11]:
print(len(car_part.value_counts()), len(car_part))

52441 52442

In [24]:
'''
포그램프(우) 74
'''
car_part.iloc[[2, 3, 42, 43, 72, 73, 112, 113, 120, 188, 189, 221, 222]]

                       part
2                   헤드램프(좌)
3                   헤드램프(우)
42        헤드램프(좌)그린수가 50%청구
43     헤드램프 신품가(좌)2,230,800
72          헤드램프 그린수가 50%청구
73         헤드램프 신품가 912,483
112       헤드램프(좌)그린수가 60%청구
113      헤드램프(좌)신품가 438,471
120  해드램프(좌)  신품가 3,276,900
188     헤드램프(좌) 신품가 380,000
189       헤드램프(좌) 그린수가40%청구
221              헤드램프브라켓(좌)
222              헤드램프브라켓(우)