In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import matplotlib.font_manager as fm
font_name=fm.FontProperties(fname='C:\\Windows\\Fonts\\malgun.ttf').get_name()
plt.rc('font',family=font_name)
import matplotlib as mlp
mlp.rcParams['axes.unicode_minus'] = False

In [4]:
maker=pd.read_csv('C:/Users/acorn/Desktop/오원석/파이널프로젝트/makers.csv')
maker.head()

   Unnamed: 0    maker            car
0           0     FORD             포드
1           1      BMW       BMW 5시리즈
2           2  CITROEN           씨트로엥
3           3      BMW       BMW 520D
4           4      BMW  NEW BMW 740Li

In [9]:
maker.drop('Unnamed: 0', axis=1, inplace=True)

KeyError: "['Unnamed: 0'] not found in axis"

In [37]:
maker

          maker            car
0          FORD             포드
1           BMW       BMW 5시리즈
2       CITROEN           씨트로엥
3           BMW       BMW 520D
4           BMW  NEW BMW 740Li
...         ...            ...
125001  현대 / 승용    아반떼(20)-CN7
125002  현대 / 승용    아반떼(20)-CN7
125003  기아 / 승용       올뉴모닝(17)
125004  기아 / 승용       올뉴모닝(17)
125005  기아 / RV            스토닉

[125006 rows x 2 columns]

In [28]:
maker['maker'].unique()

array(['FORD', 'BMW', 'CITROEN', 'BENZ', 'CHRYSLER', 'NISSAN', '기아',
       '한국GM', 'HONDA', '현대', 'AUDI', '쌍용', 'VOLVO', 'TOYOTA',
       'VOLKSWAGEN', 'MASERATI', 'PEUGEOT', 'LANDROVER', 'PORSCHE',
       '르노삼성', 'LEXUS', nan, 'JAGUAR', 'JEEP', 'CADILLAC', 'FIAT',
       'BENTLEY', 'DODGE', 'MINI', 'SUZUKI', 'MITSUBISHI', 'LINCOLN',
       'BAIC(북기은상)', 'SUBARU', 'GM', 'MAYBACH', 'Chevrolet', 'INFINITI',
       'GMC', 'ASTON MARTIN', 'MAZDA', '현대 / RV', '현대 / 승용', '기아 / RV',
       '기아 / 승용', '쌍용 / RV', 'MINI / 승용', '한국GM / 승용', '-/-', 'JEEP / 승용',
       '르노삼성 / 승용', 'BENZ / 승용', '한국GM / RV', 'BMW / 승용', '르노삼성 / RV',
       'VOLKSWAGEN / 승용', 'FORD / 승용', 'CHRYSLER / 지프', '벤츠 / 승용',
       '크라이슬 / 지프', '기아 / 지프', '재규어 / 승용', '크라이슬 / 승용', '캐딜락 / 승용',
       '미니 / 승용', '랜드로버 / 승용', '랜드로버 / 지프', '포드 / 지프', '폭스바겐 / 승용',
       '포드 / 승용', 'TESLA / 승용'], dtype=object)

In [31]:
f_car = ['FORD', 'BMW', 'CITROEN', 'BENZ', 'CHRYSLER', 'NISSAN','HONDA', 'AUDI', 'VOLVO', 'TOYOTA',
       'VOLKSWAGEN', 'MASERATI', 'PEUGEOT', 'LANDROVER', 'PORSCHE','LEXUS','JAGUAR', 'JEEP', 'CADILLAC', 'FIAT',
       'BENTLEY', 'DODGE', 'MINI', 'SUZUKI', 'MITSUBISHI', 'LINCOLN',
       'BAIC(북기은상)', 'SUBARU', 'GM', 'MAYBACH', 'Chevrolet', 'INFINITI',
       'GMC', 'ASTON MARTIN', 'MAZDA','MINI / 승용','-/-', 'JEEP / 승용','BENZ / 승용','BMW / 승용','VOLKSWAGEN / 승용', 'FORD / 승용', 'CHRYSLER / 지프', '벤츠 / 승용',
       '크라이슬 / 지프','재규어 / 승용', '크라이슬 / 승용', '캐딜락 / 승용',
       '미니 / 승용', '랜드로버 / 승용', '랜드로버 / 지프', '포드 / 지프', '폭스바겐 / 승용',
       '포드 / 승용', 'TESLA / 승용']

In [35]:
makers = maker[~maker['maker'].isin(f_car)]

In [39]:
makers['maker'].unique()

array(['기아', '한국GM', '현대', '쌍용', '르노삼성', nan, '현대 / RV', '현대 / 승용',
       '기아 / RV', '기아 / 승용', '쌍용 / RV', '한국GM / 승용', '르노삼성 / 승용',
       '한국GM / RV', '르노삼성 / RV', '기아 / 지프'], dtype=object)

In [40]:
makers.to_csv('makers(국산차).csv')

In [41]:
print(len(maker), len(makers))

125006 121746